<a href="https://colab.research.google.com/github/stephaniefv/Analisededados-ProjetoIndividual2/blob/main/untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Oficina de python **- 7/02

In [ ]:
# Passo 1 - Percorrer todos os arquivos da pasta base de dados (pasta vendas)
import os #biblioteca para leitura de arquivos
import pandas as pd # pd significa abreviação de pandas

lista_arquivos = os.listdir("/content/drive/MyDrive/python/Vendas")
#print(lista_arquivos)
display(lista_arquivos)#funciona somente no colab
###__###
#lista_email = ['karina@gmail.com','kaique@gmail.com','steph@gmail.com']
#display(lista_email)

['Vendas - Porto Alegre.csv',
 'Vendas - Curitiba.csv',
 'Vendas - Salvador.csv',
 'Vendas - Belo Horizonte.csv',
 'Vendas - Fortaleza.csv',
 'Devolucoes - Belo Horizonte.csv',
 'Devolucoes - São Paulo.csv',
 'Vendas - Goiás.csv',
 'Devolucoes - Porto Alegre.csv',
 'Devolucoes - Fortaleza.csv',
 'Vendas - Recife.csv',
 'Vendas - São Paulo.csv',
 'Devolucoes - Curitiba.csv',
 'Vendas - Rio de Janeiro.csv',
 'Devolucoes - Rio de Janeiro.csv',
 'Devolucoes - Recife.csv',
 'Devolucoes - Salvador.csv',
 'Devolucoes - Goiás.csv']

In [ ]:
#Passo 2 - Definir o caminho da bases de dados de vendas
# estrutura de repetição
#contar = 0
#while (contar<=5):
 # print(contar)
  #contar = contar + 1
  ###___###
for arquivo in lista_arquivos:
 # print(arquivo) # mostrando só o arquivo
  print(f"/content/drive/MyDrive/python/Vendas/{arquivo}")
#for numero in [1,2,3,4,5]: # outra estrutura de repetição
 #print(numero)

In [ ]:
#Passo 3 - Tratar / Compilar as bases de dados
#importar uma bilioteca de banco de dados
# estrutura de condição if
tabela_total = pd.DataFrame()
for arquivo in lista_arquivos:
  if 'vendas' in arquivo.lower():
    tabela = pd.read_csv(f"/content/drive/MyDrive/python/Vendas/{arquivo}")
    tabela_total = tabela_total.append(tabela)
display(tabela_total)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,14,HL4379,Televisão,4,Ylana,Teraoka,6/23/2018,Porto Alegre,2500,NaN
1,34,HL1148,Câmera,1,Rubens,Netto,7/11/2018,Porto Alegre,2100,NaN
2,43,HL1148,Câmera,5,Paloma,Sperandei,9/15/2018,Porto Alegre,2100,NaN
3,49,HL8851,Notebook,5,Breno,Farias,6/24/2018,Porto Alegre,3500,NaN
4,52,HL4379,Televisão,2,Lorena,Kohn,7/31/2018,Porto Alegre,2500,NaN
...,...,...,...,...,...,...,...,...,...,...
1462,9971,HL1918,iPhone,4,Isaac,Santos,12/3/2018,Rio de Janeiro,5300,NaN
1463,9976,HL9962,Android,2,Andreza,Ramos,12/17/2018,Rio de Janeiro,3400,NaN
1464,9982,HL4379,Televisão,3,Leticia,Mesquita,5/22/2018,Rio de Janeiro,2500,NaN
1465,9987,HL1918,iPhone,5,Manuela,Merege,9/12/2018,Rio de Janeiro,5300,NaN
1466,9989,HL1918,iPhone,5,Rafael,Carneiro,2/28/2018,Rio de Janeiro,5300,NaN

In [ ]:
 #Passo 4 - Calcular a quantidade vendida de cada produto
tabela_produtos = tabela_total.groupby('Produto').sum()
tabela_produtos = tabela_produtos[['Quantidade Vendida']].sort_values(by="Quantidade Vendida", ascending=False)
display(tabela_produtos)

            Quantidade Vendida
Produto
iPhone                    8974
Televisão                 5931
Notebook                  3249
Android                   3183
SmartWatch                2980
Tablet                    2921
Câmera                    2805

In [ ]:
 #Passo 5 - Calcular o faturamento de cada produto
tabela_total['faturamento'] = tabela_total['Quantidade Vendida'] * tabela_total['Preco Unitario']
tabela_produtos = tabela_total.groupby('Produto').sum()
tabela_produtos = tabela_produtos[['faturamento']].sort_values(by="faturamento",ascending=False)
display(tabela_produtos)

            faturamento
Produto
iPhone         47562200
Televisão      14827500
Notebook       11371500
Android        10822200
Câmera          5890500
Tablet          4673600
SmartWatch      4172000

In [ ]:
 #Passo 6 - Calcular o faturamento por loja - criar um gráfico/dashboard 
tabela_lojas = tabela_total.groupby('Loja').sum()
tabela_lojas = tabela_lojas[['faturamento']].sort_values(by="faturamento",ascending=False)
display(tabela_lojas)

                faturamento
Loja
São Paulo          22098300
Rio de Janeiro     14867800
Fortaleza          14087900
Salvador           13111300
Goiás               7441800
Recife              7303000
Curitiba            7060500
Porto Alegre        6868600
Belo Horizonte      6480300

In [ ]:
 #criar um gráfico/dashboard
import plotly.express as px
grafico = px.bar(tabela_lojas,x=tabela_lojas.index,y='faturamento')
grafico.show()